<div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-12 mx-auto">
        <div class="small-form-container">
          <mat-card>
            <mat-card-content>
              <h2 class="card-title">
                Login
              </h2>
              <form class="small-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                  <input matInput placeholder="Enter your email" formControlName="email" required>
                  <mat-error *ngIf="email.invalid">{{ emailErrorMessage }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                    formControlName="password" required>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" type="button">
                    <mat-icon class="password-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="password.invalid">{{ passwordErrorMessage }}</mat-error>
                </mat-form-field>
                <div class="form-action-container">
                  <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
                    Login
                  </button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
          <div class="hint">
            You don't have an account? <a routerLink="/signup">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>