<div class="position-fixed page-container h-100 w-100" fxLayout="row" fxLayoutAlign="center center">
  <div class="panel p-2 bg-light">
    <header class="row m-0 p-2 border-bottom">
      <div class="col col-10 head" fxLayout="row" fxLayoutAlign="start center">Sign in</div>
      <div class="col col-2">
        <button [routerLink]="['/']" class="btn btn-link btn-close text-dark" fxLayout="row"
          fxLayoutAlign="center center">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </header>

    <main class="p-2">

      <div *ngIf="errorMessage" class="alert alert-danger text-danger text-center">
        {{errorMessage}}
      </div>

      <form class="small-form p-3" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{ emailErrorMessage }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
            required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" type="button">
            <mat-icon class="password-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{ passwordErrorMessage }}</mat-error>
        </mat-form-field>
        <div class="form-action-container" fxLayout="row" fxLayoutAlign="center center">
          <button class="btn-custom cairo btn-login" [disabled]="!loginForm.valid">
            Sign in
          </button>
        </div>
      </form>

      <div class="mt-4 cairo" fxLayout="column" fxLayoutAlign="center center">
        <div>
          You don't have an account? <a class="ml-1" routerLink="/" [queryParams]="{ popup: 'sign-up'}">Sing up</a>
        </div>
        <div class="mt-2">
          Forget password? <a class="ml-1" routerLink="/" [queryParams]="{ popup: 'forget-password'}">Reset</a>
        </div>
      </div>
    </main>
  </div>
</div>