<ng-chat #chat [adapter]="adapter" [userId]="userId" [emojisEnabled]="true" title="Digital Assistant"
  [browserNotificationsEnabled]="false" [historyEnabled]="true" [searchEnabled]="false" [hideFriendsList]="true"
  [audioEnabled]="false" [theme]="chatTheme" [historyPageSize]="1000" [persistWindowsState]="false"
  [isViewportOnMobileEnabled]="true">
</ng-chat>

<div class="chat-actions-top" [ngClass]="{'expand-top-actions': expanded, 'compressed-top-actons': !expanded}"
  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-icon class="clickable" *ngIf="expanded" color="{{buttonColor}}" (click)="toggleChat()">arrow_drop_down</mat-icon>
  <mat-icon class="clickable" *ngIf="!expanded" color="{{buttonColor}}" (click)="toggleChat()">arrow_drop_up</mat-icon>
</div>

<div class="chat-actions" [ngClass]="{'expanded': expanded, 'compressed': !expanded}" fxLayout="row"
  fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-icon (click)="startOrEndWebCall()" color="{{phoneColor}}" class="clickable">
    {{wcs.isInCall ? 'call_end' : 'call'}}
  </mat-icon>
  <mat-icon class="clickable" color="{{buttonColor}}" (click)="onThemeChanged()">nights_stay</mat-icon>
</div>
