:host {
	.chat-actions {
		position: fixed;
		z-index: 1000;

		label {
			margin-right: 10px;
      margin-top: 6px;
      margin-bottom: 0 !important;
		}
	}

	.chat-actions-top {
		position: fixed;
		z-index: 1000;
	}

	.expand-top-actions {
		bottom: 86%;
		right: 11%;
	}

	.compressed-top-actons {
		bottom: 330px;
		right: 25px;
	}

	.expanded {
		bottom: 12%;
		right: 11%;
	}

	.compressed {
		bottom: 5px;
		right: 25px;
	}
}
