<section class="w-100 h-100 p-3">
    <div class="row m-0" fxLayout="row" fxLayoutAlign="center center">
        <div class="col col-10 bg-light rounded panel-container p-0">
            <ng-container *ngTemplateOutlet="personalInformationTemplate"></ng-container>
        </div>
    </div>
</section>

<ng-template #currentInsurenceInfoTemplate>
    <div class="header p-3 open-sans border-bottom">
        Current insurence info
    </div>

    <div class="p-2 mt-3">
        <div class="row m-0 open-sans mt-3">
            <div class="col col-6" fxLayout="row" fxLayoutAlign="start center">
                <label class="font-weight-bold">Insurence type: </label>
            </div>
            <div class="col col-6" fxLayout="row" fxLayoutAlign="start center">
                <span>Platinum insurence</span>
            </div>
        </div>

        <div class="row m-0 open-sans mt-4">
            <div class="col col-6" fxLayout="row" fxLayoutAlign="start center">
                <label for="startDate" class="font-weight-bold">Start date: </label>
            </div>
            <div class="col col-6" fxLayout="row" fxLayoutAlign="start center">
                <span>19/10/2019 10:18</span>
            </div>
        </div>

        <div class="row m-0 open-sans mt-4">
            <div class="col col-6" fxLayout="row" fxLayoutAlign="start center">
                <label for="startDate" class="font-weight-bold">End date: </label>
            </div>
            <div class="col col-6" fxLayout="row" fxLayoutAlign="start center">
                <span>19/10/2020 10:18</span>
            </div>
        </div>

        <div class="p-2 mt-3" fxLayout="row" fxLayoutAlign="end center">
            <button type="button" class="pl-3 pr-3 open-sans box-shadow-none btn btn-danger mr-3">Delete</button>
            <button type="button" class="pl-3 pr-3 open-sans box-shadow-none btn btn-success">Upgrade</button>
        </div>

    </div>
</ng-template>

<ng-template #personalInformationTemplate>
    <div class="header p-3 open-sans border-bottom font-weight-bold" style="font-size: 20px;">
        Edit personal information
    </div>

    <div class="p-2 mt-3">

        <div class="row m-0 open-sans mt-3 open-sans">
            <div class="col col-4" fxLayout="column" fxLayoutAlign="start start">
                <label class="ml-2 text-muted" style="font-size: 13px;">FIRST NAME</label>
                <input class="form-control" placeholder="First name">
            </div>
            <div class="col col-4" fxLayout="column" fxLayoutAlign="start start">
                <label class="ml-2 text-muted" style="font-size: 13px;">LAST NAME</label>
                <input class="form-control" placeholder="Last name">
            </div>
            <div class="col col-4" fxLayout="column" fxLayoutAlign="start start">
                <label class="ml-2 text-muted" style="font-size: 13px;">PHONE NUMBER</label>
                <input class="form-control" placeholder="Phone number">
            </div>
        </div>


        <div class="row m-0 open-sans mt-3 open-sans">
            <div class="col col-12" fxLayout="column" fxLayoutAlign="start start">
                <label class="ml-2 text-muted" style="font-size: 13px;">ADDRESS</label>
                <input class="form-control" placeholder="Address">
            </div>
        </div>

        <div class="row m-0 open-sans mt-3 open-sans">
            <div class="col col-4" fxLayout="column" fxLayoutAlign="start start">
                <label class="ml-2 text-muted" style="font-size: 13px;">CITY</label>
                <input class="form-control" placeholder="City">
            </div>
            <div class="col col-4" fxLayout="column" fxLayoutAlign="start start">
                <label class="ml-2 text-muted" style="font-size: 13px;">COUNTRY</label>
                <input class="form-control" placeholder="Country">
            </div>
            <div class="col col-4" fxLayout="column" fxLayoutAlign="start start">
                <label class="ml-2 text-muted" style="font-size: 13px;">POSTAL CODE</label>
                <input class="form-control" placeholder="Postal code">
            </div>
        </div>

        <div class="p-3 mt-3" fxLayout="row" fxLayoutAlign="start center">
            <button type="button" class="pl-3 pr-3 open-sans box-shadow-none btn btn-primary">Update</button>
        </div>

    </div>
</ng-template>