$main-color: #00b2ce;
$head-color: #304254;

:host {
	.bg-main {
		background-color: $main-color !important;
	}

	.color-main {
		color: $main-color !important;
	}

	.head {
		font-family: 'Open Sans';
		font-size: 30px;
		color: $head-color;
		font-weight: 300;
	}

	@media screen and (max-width: 500px) {
		.head {
			font-size: 20px;
		}
	}

	header {
		background-image: url("https://i.ibb.co/4ZMfvpk/beach-dawn-hd-wallpaper-292442-blur.jpg");
		background-size: cover;
		background-position: center;
		font-family: "Cairo";
		background-color: #346cb0;

		.wrapper {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			width: 100%;
			height: calc(100% - 100px);

			button {
				border-radius: 25px !important;
				min-width: 250px;
				outline: none;
			}
		}
	}

	nav {
		height: 60px;

		.nav-active {
			border-bottom: 2px solid #ffffff;
		}
	}

	.panel {
		background-color: rgba(0, 0, 0, 0.4) !important;
	}

	header .wrapper .btn-registration {
		transition: background-color 0.3s ease-out, color 0.3s ease-out;

		&:hover {
			background-color: #ffffff;
			color: #00b2ce !important;
		}
	}

	.background-nav {
		height: 40px;

		.btn-nav {
			width: 30px;
			height: 4px;
			outline: none;
		}

		.btn-nav-active {
			background-color: #ffffff !important;
		}
	}

	.info-container {
		width: 300px;
		height: 450px;
		overflow: hidden;
		background-color: $main-color !important;
		box-shadow: 0 0 7px #000000;
		transition: transform .4s ease-out;
		cursor: pointer;

		&:hover {
			transform: scale(1.05);
		}

		.header {
			height: 130px;
			background: #017d91 !important;
		}

		.content {
			overflow: auto;
			height: 320px;
			text-indent: 10px;
		}

		.info-icon {
			width: 60px;
			height: 60px;
			border: 1px solid #ffffff;
			transition: background-color .3s ease-out, color .3s ease-out;

			&:hover {
				background-color: #ffffff;
				color: $main-color !important;
			}
		}
	}

	.insurence-plans {
		background-color: rgb(243, 246, 248);
		color: #304254;
		min-height: 500px;
		overflow: hidden;

		.head {
			font-size: 30px;
		}
	}

	.products {
		ul {
			list-style-type: none;
			li {
				min-width: 200px;
				button {
					color: #5a6672;
					text-decoration: none;
				}
			}
		}

		.product-active {
			background-color: #e7edee;
			color: $head-color;
		}
	}

	.product-badge {
		left: 30px;
		width: 50px;
		height: 80px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		background-color: $main-color;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	.product-detail {
		background-color: #e7edee;
		p {
			text-indent: 15px;
		}
	}

	.btn-buy {
		width: 160px;
		min-height: 50px;
		border-radius: 50px;
		border-width: 0px;
		border-style: solid;
		background: rgb(0, 178, 206);
		color: rgb(255, 255, 255);
		top: auto;
		outline: none;
		box-shadow: rgb(0, 153, 177) 0px 4px;

		&:focus,
		&:active {
			outline: none;
		}
	}
	.service-container {
		width: 240px;

		.service-title {
			font-family: 'Open Sans';
		}
	}

	@media screen and (max-width: 500px) {
		.insurence-plans .head , .products{
			justify-content: center !important;
		}
	}
}
