<div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-12 mx-auto">
        <div class="small-form-container">
          <mat-card>
            <mat-card-content>
              <div class="header">
                <h2 class="card-title">
                  Register
                </h2>
              </div>
              <form class="small-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                  <input matInput type="text" placeholder="Enter your first name" formControlName="firstName" required>
                  <mat-error *ngIf="firstName.invalid">{{ firstNameErrorMessage }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="Enter your last name" formControlName="lastName" required>
                  <mat-error *ngIf="lastName.invalid">{{ lastNameErrorMessage }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="email" placeholder="Enter your email" formControlName="email" required>
                  <mat-error *ngIf="email.invalid">{{ emailErrorMessage }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="tel" placeholder="Enter your phone number" formControlName="phoneNumber" required>
                    <mat-error *ngIf="phoneNumber.invalid">{{ phoneNumberErrorMessage }}</mat-error>
                  </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                    formControlName="password" required>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" type="button">
                    <mat-icon class="password-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="password.invalid">{{ passwordErrorMessage }}</mat-error>
                </mat-form-field>
                <div class="form-action-container">
                  <button mat-raised-button color="primary" [disabled]="!registerForm.valid" >
                    Register
                  </button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
          <div class="hint">
            You already have an account? 
            <a routerLink="/signin">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>