<footer class="row m-0 mt-5 p-2 bg-dark text-light" fxLayout="row" fxLayoutAlign="center center">
    <div class="col col-12 col-md-4 menu-container" fxLayout="row" fxLayoutAlign="center center">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#home" class="text-muted">Home</a>
            </li>
            <li class="list-group-item text-muted">
                <a href="#digitalAssistant" class="text-muted">Digital Assistant</a>
            </li>
            <li class="list-group-item text-muted">
                <a href="#products" class="text-muted">Products</a>
            </li>
            <li class="list-group-item text-muted">
                <a href="#bestServices" class="text-muted">Best Services</a>
            </li>
            <li class="list-group-item">
                <a href="#contact" class="text-light">Contact</a>
            </li>
        </ul>
    </div>
    <div class="col col-12 col-md-4" fxLayout="column" fxLayoutAlign="center center">
        <div class="news-letter-container">
            <input type="email" class="news-letter-input rounded" name="email" id="email" placeholder="Email address">
            <button type="button" class="news-letter-button rounded text-light">Subscribe</button>
        </div>
        <div class="mt-5 p-4" fxLayout="row" fxLayoutAlign="center center">
            &#169; Copyright 2019
        </div>
    </div>
    <div class="col col-12 col-md-4" fxLayout="row" fxLayoutAlign="center end">
        <ul class="list-group">
            <li class="list-group-item text-light">Romania</li>
            <li class="list-group-item text-light">Arges, Pitesti</li>
            <li class="list-group-item text-light">Street Nicolae Balcescu Nr.30,Bl. 3, Sc. A, Ap.22</li>
            <li class="list-group-item text-light">+40760982123</li>
        </ul>
    </div>
</footer>