/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-chat-close {
  display: none !important;
}

.maximized-chat {
  width: 80vw !important;
  height: 80vh !important;
  top: 50%;
  left: 50%;
  margin-top: -40vh;
  margin-left: -40vw;
}

.clickable {
  cursor: pointer;
}

input.chat-window-input {
  width: 75% !important;
}
